---
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Contact from "@/sections/Contact.astro";
/* import Brands from "@/sections/Brands.astro"; */
import Hero from "@/sections/Hero.astro";
import InstagramFeed from "@/sections/InstagramFeed.astro";
import Location from "@/sections/Location.astro";
import Services from "@/sections/Services.astro";
import Team from "@/sections/Team.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <main class="flex flex-col justify-center items-center">
    <Hero data={data.heroData} />
    <About data={data.aboutData} />
    <Services data={data.servicesData} />
    <Team data={data.teamData} />
    <Contact data={data.contactData} />
    <Location data={data.locationData} />
    <InstagramFeed data={data.contactData} />
  </main>
</Layout>
